@model List<YourDateApp.Application.Dtos.ChatDto>

<div class="row">
    @if (Model == null || Model.Count == 0)
    {
        <h2>Nie masz jeszcze żadnych czatów</h2>
    }
    else
    {
        <h2>Twoje czaty:</h2>
        <hr />
        <table style="width: 100%">
            @foreach (var chat in Model)
            {
                var currentDate = DateTime.Now;
                var different = currentDate - chat.LastMessageDate;
                var timeString = "";
                if (different.TotalDays > 1.0)
                    timeString = $"{(int)different.TotalDays} dni temu";
                else if (different.TotalHours > 1.0)
                    timeString = $"{(int)different.TotalHours} godzin temu";
                else if (different.TotalMinutes > 1.0)
                    timeString = $"{(int)different.TotalMinutes} minut temu";
                else timeString = "Przed chwilą";

                var newMessages = chat.NewMessageAmount > 0 ? $" ({chat.NewMessageAmount} nowych)" : "";
                var photoSrc = chat.UsernameChatWithPhotoSrc != null ? chat.UsernameChatWithPhotoSrc : "images/defaultUserPhoto.png";
                <tr>
                    <td style="padding: 10px; text-align: left;">@timeString @newMessages</td>
                    <td style="padding: 10px; text-align: left;">
                        <img id="profilePhoto" width="50" height="50px" src="~/@photoSrc">
                    </td>
                    <td style="padding: 10px; text-align: left;">
                        <a asp-controller="Home" asp-action="Profile" asp-route-id="@chat.UsernameChatWith">
                            @chat.UsernameChatWith 
                        </a>
                    </td>
                    <td style="padding: 10px; text-align: left;">
                        <button onclick="startChat('@User.Identity.Name', '@chat.UsernameChatWith')" class="btn-primary">Wyślij wiadomość do @chat.UsernameChatWith</button>
                    </td>
                </tr>
            }
        </table>
    }
</div>