@using Newtonsoft.Json;
@using YourDateApp.Models;
@{
    var action = ViewContext.RouteData.Values["Action"]?.ToString();
    var controller = ViewContext.RouteData.Values["Controller"]?.ToString();
    var isLoggedIn = User!.Identity!.IsAuthenticated;
    var username = User.Identity.Name;
    var notyfication = TempData["Notyfication"] != null ?
    (Notyfication)JsonConvert.DeserializeObject<Notyfication>(TempData["Notyfication"]!.ToString()!)! 
    : null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YourDateApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/messenger.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/YourDateApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.css"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">YourDateApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (isLoggedIn == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link @(controller == "Home" && action == "Index" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index">Mój profil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(controller == "Home" && action == "ProfilesBrowser" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="ProfilesBrowser">Przeglądaj</a>
                            </li>
                            <li class="nav-item">
                                <a id="likesNavLink" class="nav-link @(controller == "Interaction" && action == "MyLikes" ? "active" : "")" asp-area="" asp-controller="Interaction" asp-action="MyLikes">Polubienia</a>
                            </li>
                            <li class="nav-item">
                                <a id="likesNavLink" class="nav-link @(controller == "Interaction" && action == "Chat" ? "active" : "")" asp-area="" asp-controller="Interaction" asp-action="Chat">Wiadomości</a>
                            </li>
                        }
                        @if (isLoggedIn == false)
                        {
                            <li class="nav-item">
                                <a class="nav-link @(controller == "Account" && action == "Register" ? "active" : "")" asp-area="" asp-controller="Account" asp-action="Register">Zarejestruj</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(controller == "Account" && action == "Login" ? "active" : "")" asp-area="" asp-controller="Account" asp-action="Login">Zaloguj</a>
                            </li>
                        }
                    </ul>
                    @if (isLoggedIn == true)
                    {
                        <div class="loggedUser">
                            <form class="form-inline" action="/Account/Logout" method="post">
                                <span class="navbar-text navUsername">Witaj @username !</span>
                                <button class="btn btn-success my-2 my-sm-0" type="submit">Wyloguj</button>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
    </footer>

    <div class="chat-container chat" style="display: none">
        <div class="chat-header">
            <div id="chatTitle" class="title"></div>
            <button class="btn btn-success closeChatBtn">X</button>
        </div>
        <div class="chat-body">
        </div>
        <div class="chat-input">
            <div class="input-sec">
                <input type="text" id="chatInput" autofocus placeholder="Napisz wiadomość..." />
            </div>
            <div class="send">
                <button id="sendBtn" class="btn btn-primary">Wyślij</button>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/js/chat.js" asp-append-version="true"></script>
    @if(notyfication != null)
    {
        <script>
            toastr["@notyfication.Type"]("@notyfication.Message")
        </script>
    }
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        const UpdateUnreceivedLikeNumber = () => {
            let username = '@username';
            let url = `/Interaction/UnreceivedLikeCount/${username}`;

            $.ajax({
                url: url,
                type: 'get',
                success: (data) => {
                    let likeNumber = data;
                    let element = document.getElementById("likesNavLink");
                    if (likeNumber > 0) {
                        element.innerHTML = `Polubienia (${likeNumber} nowe)`;
                    }
                    else {
                        element.innerHTML = 'Polubienia';
                    }
                }
            })
        }
        UpdateUnreceivedLikeNumber();
        setInterval(() => UpdateUnreceivedLikeNumber(), 5000);
    </script>

</body>
</html>